@font-face {
    font-family: 'Glacial Indifference Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Glacial Indifference Regular'), url('fonts/GlacialIndifference-Regular.woff') format('woff');
    }
    
@font-face {
    font-family: 'Glacial Indifference Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Glacial Indifference Bold'), url('fonts/GlacialIndifference-Bold.woff') format('woff');
    }

body, html {
    height: 100%; 
  }

.bg-lg { 
    /* The image used */
    background-image: url("/img/BB-hero-lg.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.bg-xs { 
    /* The image used */
    background-image: url("/img/BB-hero-xs.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.bg-black {
    background-color: #000;
}

.hamburger .line{
    width: 36px;
    height: 4px;
    border-radius: 2px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger:hover{
    cursor: pointer;
  }

  #hamburger-2.is-active .line:nth-child(1){
    -webkit-transform: translateY(13px);
    -ms-transform: translateY(13px);
    -o-transform: translateY(13px);
    transform: translateY(13px);
  }
  
  #hamburger-2.is-active .line:nth-child(3){
    -webkit-transform: translateY(-13px);
    -ms-transform: translateY(-13px);
    -o-transform: translateY(-13px);
    transform: translateY(-13px);
  }

.hero-title {
    font-family: GlacialIndifference-Bold;
    font-size: 5em;
    letter-spacing: .05em;
    line-height: 0.8;
    margin: 120px 0px 0px 40px;
}

.navbar .navbar-nav .nav-link {
    color: rgb(168, 168, 168);
    font-family: GlacialIndifference-Bold;
    font-size: 1em;
    letter-spacing: 0.1em;
    padding: 1em;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

/* BEGIN navbar JavaScript / CSS */
ul a:hover{
    color: #FFF !important;
  }
  nav li{
      text-align: center;
      text-transform: uppercase;
  }
  li > a:after{
      content: '';
      display: block;
      height: 1.5px;
      background: #FFF;
      transform: scaleX(0);
      transition: transform .3s;
  }
  li > a:hover:after{
      transform: scaleX(1);
      transition: transform .3s;
  }
  .active{
      color: #FFF !important;
  }
  /* END navbar JavaScript / CSS */