// Overflow testing (w/ JavaScript)
// * {
//   outline: solid 1px red;
// }

body,
html {
  height: 100%;
}

// BEGIN smooth scrolling
html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}
// END smooth scrolling

a.EP-hover {
  color: white;
}

a.EP-hover:hover {
  color: #b2b2b2;
  text-decoration: none;
}

.album {
  font-family: GlacialIndifferenceRegular;
  font-size: 1.5em;
  letter-spacing: 0.075em;
  line-height: 1.3;
}

.artist {
  font-family: GlacialIndifferenceBold;
  font-size: 2em;
  letter-spacing: 0.1em;
  line-height: 1.3;
}

.bg-hero {
  // The image used
  background-image: url("/img/background-hero.jpg");

  // Full height
  height: 100%;

  // Center and scale the image nicely
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-black {
  background-color: #000;
}

.bg-dgray {
  background-color: #222223;
}

.bg-lgray {
  background-color: #e6e7e8;
}

.bg-mgray {
  background-color: #414042;
}

.bg-releases {
  background-color: #818285;
}

.bg-signup {
  background-color: #818285;
  margin-left: 0.9em;
  margin-right: 0.9em;
}

.btn-releases {
  font-family: GlacialIndifferenceBold;
  font-size: 1.25em;
  letter-spacing: 0.1em;
  margin: 4em 0 4em 0;
}

.btn-footer {
  font-family: GlacialIndifferenceBold;
  font-size: 1em;
  letter-spacing: 0.1em;
  margin: 4em 0 4em 0;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

.btn-footer-XL {
  font-family: GlacialIndifferenceBold;
  font-size: 1em;
  letter-spacing: 0.1em;
  margin: 4em 0 4em 0;
  padding-top: 6em;
  padding-bottom: 6em;
}

.foot-pad {
  padding-left: 100px;
}

.footer-title {
  font-family: GlacialIndifferenceBold;
  font-size: 1.25em;
  letter-spacing: .05em;
  line-height: 0.9;
}

.footer-body {
  font-family: GlacialIndifferenceRegular;
  font-size: 1.25em;
  line-height: 1.25;
}

.footer-body2 {
  font-family: GlacialIndifferenceRegular;
  font-size: 1.1em;
  letter-spacing: .05em;
}

// BEGIN hamburger
.hamburger .line {
  width: 36px;
  height: 4px;
  border-radius: 2px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

#hamburger-2.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

#hamburger-2.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px);
  -ms-transform: translateY(-13px);
  -o-transform: translateY(-13px);
  transform: translateY(-13px);
}
// END hamburger

// BEGIN responsive hero copy
.hero-sub-title-xl {
  font-family: GlacialIndifferenceRegular;
  font-size: 2em;
  letter-spacing: 0.025em;
  line-height: auto;
  padding: 55% 0% 0% 60%;
  // left: 60%;
  z-index: 10;
}

.hero-title-xl {
  font-family: GlacialIndifferenceBold;
  font-size: 7.25em;
  letter-spacing: 0em;
  line-height: 0.8;
  padding-top: 26%;
  z-index: 10;
}

.hero-sub-title-lg {
  font-family: GlacialIndifferenceRegular;
  font-size: 1.5em;
  letter-spacing: 0.025em;
  line-height: auto;
  padding: 57% 0% 0% 60%;
  // left: 60%;
  z-index: 10;
}

.hero-title-lg {
  font-family: GlacialIndifferenceBold;
  font-size: 6em;
  letter-spacing: 0em;
  line-height: 0.8;
  padding: 28% 0 0 0;
  z-index: 10;
}

.hero-sub-title-md {
  font-family: GlacialIndifferenceRegular;
  font-size: 1.3em;
  letter-spacing: 0.025em;
  line-height: 1.3;
  padding: 59% 0% 0% 60%;
  // left: 60%;
  z-index: 10;
}

.hero-title-md {
  font-family: GlacialIndifferenceBold;
  font-size: 4.5em;
  letter-spacing: 0em;
  line-height: 0.85;
  padding: 32% 0 0 0;
  z-index: 10;
}

.hero-sub-title-sm {
  font-family: GlacialIndifferenceRegular;
  font-size: 1.7em;
  letter-spacing: 0.025em;
  line-height: 1.3;
  padding-top: 134.5%;
  z-index: 10;
}

.hero-title-sm {
  font-family: GlacialIndifferenceBold;
  font-size: 5.5em;
  letter-spacing: 0em;
  line-height: 0.85;
  padding: 7.5% 0% 0% 8.4%;
  // left: 8.4%;
  z-index: 10;
}

.hero-sub-title-xs {
  font-family: GlacialIndifferenceRegular;
  font-size: 1.7em;
  letter-spacing: 0.025em;
  line-height: 1.3;
  padding-top: 133%;
  z-index: 10;
}

.hero-title-xs {
  font-family: GlacialIndifferenceBold;
  font-size: 5em;
  letter-spacing: 0em;
  line-height: 0.85;
  padding: 7.5% 0% 0% 9.6%;
  // left: 9.6%;
  z-index: 10;
}
// END responsive hero copy

.mission-title {
  font-family: GlacialIndifferenceBold;
  font-size: 2em;
  letter-spacing: 3px;
  line-height: 0.9;
}

.mission-body {
  font-family: GlacialIndifferenceRegular;
  font-size: 1.25em;
}

.mt-logo {
  margin-top: 6rem;
}

.mt-logo-xs {
  margin-top: 36%;
}

.navbar .navbar-nav .nav-link {
  color: rgb(168, 168, 168);
  font-family: GlacialIndifferenceBold;
  font-size: 1em;
  letter-spacing: 0.1em;
  padding: 1em;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.ourMission {
  display: block;
  color: #fff !important;
  text-decoration: none !important;
}

.underline {
  padding-bottom: 4px;
  border-bottom: 1px solid white;
}

// BEGIN scrollbar
/* width */
// ::-webkit-scrollbar {
//   width: 10px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: #f1f1f1;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #888;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #555;
// }

// END scrollbar

// BEGIN navbar JavaScript / CSS
ul a:hover {
  color: #fff !important;
}
nav li {
  text-align: center;
  text-transform: uppercase;
}
.submit li {
  text-align: left;
  text-transform: uppercase;
}
li > a:after {
  content: "";
  display: block;
  height: 1.5px;
  background: #fff;
  transform: scaleX(0);
  transition: transform 0.3s;
}
li > a:hover:after {
  transform: scaleX(1);
  transition: transform 0.3s;
}
.active {
  color: #fff !important;
}
// END navbar JavaScript / CSS

// BEGIN bouncing CSS arrow fade on scroll
@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
/*
.container {
  height: 100vh;
}
.below {
  height: 100vh;
}
*/

.arrow {
  position: absolute;
  bottom: 12%;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 60px; /*change with size of arrow to make sit on bottom */
  /*   background-image: url(); */
  /*   background-size: contain; */
}

.arrow-xs {
  position: absolute;
  bottom: 5%;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 60px; /*change with size of arrow to make sit on bottom */
  /*   background-image: url(); */
  /*   background-size: contain; */
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
// END bouncing CSS arrow fade on scroll








// HERO TESTING

/*

// Non relevant styles
* {
  box-sizing: border-box;
}

.container {
  padding: 100px 30px;
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
}

// Relevant styles

img {
  width: 100%;
  display: block;
}

.copy-stack::after {
    content: ' ';
    display: table;
    clear: both;
  }

  .copy-stack__item--left {
      float: left;
      width: 66%;
      margin-right: -100%;
      position: relative;
      z-index: 1; // tells the browser to make this image on top
  }

  .copy-stack__item--right {
      float: right;
      width: 75%;
  }

@supports (display: grid) {
  .copy-stack {
    display: grid;
    position: relative; // imperative for the overlapping to work
    grid-template-columns: repeat(12, 1fr);
  }

  .copy-stack__item--right {
    grid-column: 1 / span 8;
    grid-row: 1;
    width: 100%;
  }

  .copy-stack__item--right {
    grid-column: 4 / -1;
    grid-row: 1;
    width: 100%;
  }

  .copy-stack__item--left {
    grid-row: 1;
    grid-column: 1 / span 8;
    padding-top: 20%; // slightly arbitrary, keeps proportion once resized
    width: 100%;
  }
}
*/




.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  max-height: 75%;
  margin: 0 auto;
  border: 4px solid green;
}

.image, .copy-right {
  grid-row: 1 / 2;
}

.image {
  grid-column: 2 / 5;
  padding-top: 10%;
  margin: 0 auto;
}

.copy-right {
  grid-column: 1 / -1;
  bottom: 25%;
}